header .row {
    border: 1px solid red;
    display: flex;
    justify-content: center; /* Вирівнювання по основній осі (main axis) */
    align-items: center;            /* Вирівнювання рядів по ортогональній осі (cross axis) */
    align-content: center;          /* Вирівнювання усього контенту по ортогональній осі (cross axis) */
    flex-direction: column;            /* Визначення напряму головної осі */
    min-height: 100dvh;             /* dvh — Dynamik Viewport Heigh */
}

header .col {
    background-color: #ccc;
}